<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="./style.css">
		<script src="./jquery-3.5.1.min.js"></script>
		<script src="./bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="./bootstrap/js/bootstrap.min.js"></script>
		<title>Mock API generator</title>
	</head>

	<body>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="#">Mock API Generator</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</nav>
			<div class="row mt-4">
				<div class="col-sm-6">
					<div class="alert alert-primary" role="alert">
						<p>API main adress is http://localhost:5000/api</p>
					</div>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-sm-6">
					<p>API name</p>
				</div>
				<div class="col-sm-6">
					<p>HTTP Method</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="input-group">
						<input type="text"  class="form-control">
					</div>
				</div>
				<div class="col-sm-6">
					<select class="custom-select">
						<option selected>Choose HTTP method</option>
						{{#each http_method}}
						<option value="{{this}}">{{this}}</option>
						{{/each}}
					</select>
				</div>
			</div>
		</div>
	</body>
</html>